# BEGIN W3TC Minify cache
# END W3TC Minify cache

# BEGIN W3TC Minify core
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /blckclov3r/aljun_content/cache/minify/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+\.(css|js))$ /blckclov3r/index.php [L]
</IfModule>
# END W3TC Minify core
