
/*--------------------------------------------------------------
## Dropdown navigation for header Menus
--------------------------------------------------------------*/
.header-navigation ul ul {
	display: none;
	position: absolute;
	top: 100%;
	flex-direction: column;
	background: #fff;
	margin-left: 0;
	box-shadow: 0 2px 13px rgba(0,0,0,.1);
	z-index: 1000;
}
.header-navigation ul ul.quadmenu-row {
	flex-direction: row;
}
// Hide divider for last item.
.header-navigation ul ul li:last-child {
	border-bottom:0;
}
// Handle Reveal Animation
.header-navigation[class*="header-navigation-dropdown-animation-fade"] {
	ul ul {
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 0, 0);
		transition: all 0.2s ease;
		display: block;
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
	}
	li:hover>ul, li.menu-item--toggled-on>ul, li:not(.menu-item--has-toggle):focus>ul {
		opacity: 1;
		visibility: visible;
		transform: translate3d(0, 0, 0);
		clip: auto;
		height: auto;
		overflow: visible;
	}
}
.header-navigation.header-navigation-dropdown-animation-fade-up {
	ul ul {
		transform: translate3d(0, 10px, 0);
	}
}
.header-navigation.header-navigation-dropdown-animation-fade-down {
	ul ul {
		transform: translate3d(0, -10px, 0);
	}
}
/*--------------------------------------------------------------
## Submenu Toggles for Header Menus
--------------------------------------------------------------*/
.nav--toggle-sub .dropdown-nav-toggle {
	display: block;
	background: transparent;
	position: absolute;
	right: 0;
	top: 50%;
	width: 0.7em;
	height: 0.7em;
	font-size: inherit;
	width: 0.9em;
	height: 0.9em;
	font-size: 0.9em;
	display: inline-flex;
	line-height: inherit;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	transform: translateY(-50%);
	overflow: visible;
}
.nav--toggle-sub ul ul .dropdown-nav-toggle {
	right: 0.2em;
}

.nav--toggle-sub ul ul .dropdown-nav-toggle .kadence-svg-iconset {
	transform: rotate(-90deg);
}
.nav--toggle-sub .dropdown-nav-toggle:hover,
.nav--toggle-sub .menu-item--has-toggle:hover .dropdown-nav-toggle {
	pointer-events: none;
}
.nav--toggle-sub li.menu-item-has-children {
	position: relative;
}
.nav-drop-title-wrap {
	position: relative;
	padding-right: 1em;
	display: block;
}
/*
	* If the dropdown toggle is active with JS, then
	* we'll take care of showing the submenu with JS.
	*/
.nav--toggle-sub li:hover > ul,
.nav--toggle-sub li.menu-item--toggled-on > ul,
.nav--toggle-sub li:not(.menu-item--has-toggle):focus > ul {
	display: block;
}

/*
* "focus-within" is an alternative to focus class for
* supporting browsers (all but IE/Edge) for no-JS context
* (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
*
* This selector needs to stay separated, otherwise submenus
* will not be displayed with IE/Edge.
*/
.nav--toggle-sub li:not(.menu-item--has-toggle):focus-within > ul {
	display: block;
}

/*--------------------------------------------------------------
## Header navigation top item styling
--------------------------------------------------------------*/
.header-navigation-style-underline-fullheight, .header-navigation-style-fullheight {
	height: 100%;
    align-items: center;
	.header-menu-container {
		height: 100%;
		align-items: center;
		> ul {
			height: 100%;
			align-items: center;
			> li {
				display: flex;
				height: 100%;
				align-items: center;
				> a {
					display: flex;
					height: 100%;
					align-items: center;
				}
			}
		}
	}
}
.header-navigation[class*="header-navigation-style-underline"] {
	.header-menu-container{ 
		> ul > li {
			> a {
				position:relative;
				&:after {
					content: '';
					width: 100%;
					position: absolute;
					bottom: 0px;
					height: 2px;
					right: 50%;
					background: currentColor;
					transform: scale(0, 0) translate(-50%, 0);
					transition: transform .2s ease-in-out, color .0s ease-in-out;
				}
				&:hover:after {
					transform: scale(1, 1) translate(50%, 0);
				}
			}
			&.current-menu-item, &.current-page-item {
				> a:after {
					transform: scale(1, 1) translate(50%, 0);
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Header navigation menus
--------------------------------------------------------------*/
.header-navigation, .header-menu-container {
	display: flex;
}
.header-navigation a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: var(--global-palette4);
	transition: all .2s ease-in-out;
}
.header-navigation a:hover,
.header-navigation a:focus {
	color: var(--global-palette-highlight);
}
.header-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.header-navigation ul li a {
	padding: 0.6em 0.5em;
}
.header-navigation ul ul li a {
	padding: 1em;
}
.header-navigation ul ul a {
	width: 200px;
}
.header-navigation ul ul ul {
	top: 0;
	left: 100%;
	min-height: 100%;
}
.header-navigation .menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/*--------------------------------------------------------------
## Trigger
--------------------------------------------------------------*/
.menu-toggle-open {
	display: flex;
	background:transparent;
	align-items: center;
	box-shadow: none;
	.menu-toggle-label {
		padding-right: 5px;
	}
	.menu-toggle-icon {
		display: flex;
	}
	.menu-toggle-label:empty {
		padding-right: 0px;
	}
	&:hover, &:focus {
		border-color: currentColor;
		background: transparent;
		box-shadow: none;
	}
	&.menu-toggle-style-default {
		border:0;
	}
}

/*--------------------------------------------------------------
## Mobile Menu
--------------------------------------------------------------*/
.mobile-navigation {
	width: 100%;
}
.mobile-navigation a {
	display: block;
	width: 100%;
	text-decoration: none;
	padding: 0.6em 0.5em;
}
.mobile-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.drawer-nav-drop-wrap {
	display: flex;
	position: relative;
	a {
		color:inherit;
	}
	.drawer-sub-toggle {
		background: transparent;
		color: inherit;
		padding: 0.5em;
		display: flex;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		line-height: normal;
	}
	.drawer-sub-toggle[aria-expanded="true"] svg {
		transform: rotate(180deg);
	}
}
// .mobile-navigation ul li .drawer-nav-drop-wrap a[href="#"] + button {
// 	position: absolute;
// 	z-index: 10;
// 	left:0;
// 	right:0;
// 	top:0;
// 	bottom:0;
// 	width: 100%;
//     justify-content: flex-end;
// }
.mobile-navigation ul ul {
	padding-left: 1em;
	display: none;
	transition: all 0.2s ease-in-out;
}
body[class*='amp-mode-'] .mobile-navigation ul ul {
    display: block;
}
.mobile-navigation ul ul ul ul ul ul {
    padding-left: 0;
}
.mobile-navigation ul .sub-menu.show-drawer {
	display: block;
}

/*--------------------------------------------------------------
## Drawer
--------------------------------------------------------------*/
.popup-drawer {
	position: fixed;
	display: none;
	top: 0;
    bottom: 0;
	left: -99999rem;
    right: 99999rem;
	transition: opacity 0.25s ease-in, left 0s 0.25s, right 0s 0.25s;
	z-index: 100000;
	.drawer-overlay {
		background-color: rgba(0,0,0,.4);
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}
	.drawer-inner {
		width: 100%;
		transform: translateX(100%);
		max-width:90%;
		right:0;
		top: 0;
		overflow: auto;
		background: #090c10;
		color:#fff;
		bottom: 0;
		opacity: 0;
		position: fixed;
		box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: column;
		transition: transform 0.2s ease-in, opacity 0.2s ease-in;
	}
	.drawer-header {
		padding: 0 1.5em;
		display: flex;
		justify-content: flex-end;
		// Fixes safair bug.
		min-height: calc( 1.2em + 24px );
		.drawer-toggle {
			background: transparent;
			border: 0;
			font-size: 24px;
			line-height: 1;
			padding: .6em;
			color: inherit;
			display: flex;
			box-shadow: none;
			&:hover {
				box-shadow: none;
			}
		}
	}
	.drawer-content {
		padding: 0 1.5em 1.5em;
	}
}
.popup-drawer-layout-sidepanel.popup-drawer-side-left {
	.drawer-inner {
		transform: translateX(-100%);
		right:auto;
		left:0;
	}
}
@media screen and ( max-width: $tablet-minus-query) {
	.popup-drawer-layout-sidepanel.popup-mobile-drawer-side-right {
		.drawer-inner {
			transform: translateX(100%);
			right:0;
			left:auto;
		}
	}
	.popup-drawer-layout-sidepanel.popup-mobile-drawer-side-left {
		.drawer-inner {
			transform: translateX(-100%);
			right:auto;
			left:0;
		}
	}
}
body.admin-bar .popup-drawer {
	top: 46px;
	.drawer-inner { top: 46px; }
}
@media screen and ( min-width: 783px) {
	body.admin-bar .popup-drawer {
		top: 32px;
		.drawer-inner { top: 32px; }
	}
}
.popup-drawer.show-drawer {
    display: block;
}
.popup-drawer.active {
	left: 0;
    opacity: 1;
	right: 0;
	transition: opacity 0.25s ease-out;
	.drawer-inner {
		opacity:1;
		transform: translateX(0%);
	}
	.drawer-overlay {
		opacity:1;
		cursor: pointer;
	}
}
.showing-popup-drawer {
    overflow: hidden;
}